{% extends 'base.html' %}

{% block content %}

    <form action="{{ url_for('add_info') }}" method="POST" class="space-y-4">
        <div>
            <label for="name" class="block">Name</label>
            <input type="text" id="name" name="name" required class="w-full border border-gray-300 p-2"/>
        </div>
        <div>
            <label for="description" class="block">Description</label>
            <input type="text" id="description" name="description" required class="w-full border border-gray-300 p-2"/>
        </div>
        <div>
            <label for="salary" class="block">Salary</label>
            <input type="number" id="salary" name="salary" class="w-full border border-gray-300 p-2"/>
        </div>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Submit</button>
    </form>
{% endblock content %}
